<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	
</head>

<body>
	<div layout:fragment="content">
		<form>
			<h3> Welcome to the application's Home Page.</h3>

			<h3> In this application, you can perform CRUD operations with the Movies database.<br>
				Click "View All" on the navigation bar to view the complete list of Movie entries in our database. <br>
				To simplify your search, click "Search" to view a filtered list of Movie entries. <br>
				You can also create New Movie entries by clicking "Add New" navigation tab on the right corner. <br>
				<br> To return to this page, click on the application's logo on the navigation bar. <br>
				<br>Thank you for visiting our <b>Movie Rating Blog</b>!
					
			</h3>
		</form>
		
	</div>
</body>

</html>