<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>Create New Entry</title>

</head>

<body>
	<div layout:fragment="content">
		<!-- Input fields-->
		<form class="form-default" th:action="@{/movies/new}" th:object="${movieModel}" method="post">

			<table>
				<tbody>
					<div class="card-body">
						<tr>
							<td>
								<label for="title">Title: </label>
							</td>
							<td>
								<div class="form-group">
									<input type="text" th:field="*{title}" placeholder="Movie Title"
										class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
									<span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="year">Year Released:  </label>
							</td>
							<td>
								<div class="form-group">
									<input type="text" th:field="*{year}" placeholder="Year released" class="form-control" th:classappend="${#fields.hasErrors('year')} ? 'is-invalid' : ''">
									<span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="genre">Genre:  </label>
							</td>
							<td>
								<div class="form-group">
									<input type="text" th:field="*{genre}" placeholder="Main genre" class="form-control" th:classappend="${#fields.hasErrors('genre')} ? 'is-invalid' : ''">
									<span class="error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="rating">Rating:  </label>
							</td>
							<td>
								<div class="form-group">
									<input type="number" th:field="*{rating}" placeholder="Rating out of 10" class="form-control" th:classappend="${#fields.hasErrors('rating')} ? 'is-invalid' : ''">
									<span class="error" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="image">Image URL:  </label>
							</td>
							<td>
								<div class="form-group">
									<input type="text" th:field="*{image}" placeholder="Image link" class="form-control" th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''">
									<span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
								</div>
							</td>
						</tr>
					</div>
				</tbody>
			</table>
			
			<!-- Submit -->
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-primary">
			</div>

			<!-- Error message -->
			<div th:if="${#fields.hasErrors('*')}" class="error general-error">
				<p>Please correct the errors and resubmit.</p>
			</div>
		</form>
		
	</div>
</body>

</html>